<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Vue JS Tutorials</title>
</head>
<body>
    <div id="vue-app">
        <h1>Looping through arrays</h1>
        <ul>
            <li v-for='(character, index) in characters'>{{ index + 1 }}. {{ character }}</li>
        </ul>
        <ul>
            <li v-for='(trainer, index) in trainers'>{{ index + 1 }}. {{ trainer.name }}, {{ trainer.age }}</li>
        </ul>

        <template v-for='(trainer, index) in trainers'>
            <h3>{{ index }}. {{ trainer.name }}</h3>
            <h4>{{ trainer.age }}</h4>
        </template>

        <template v-for='trainer in trainers'>
            <div v-for='(val, key) in trainer'>
                <p>{{ key }} - {{ val }}</p>
            </div>
        </template>
    </div>
    <script src="app.js"></script>
</body>
</html>
